In [46]:
# import dependencies 
import pandas as pd
import datetime as dt
from datetime import datetime
import numpy as np
from config import pg_password
from sqlalchemy import create_engine

## Read in data using pd.read_csv()

In [47]:
# Read in csv
covid_data_df = pd.read_csv(r"us-counties.csv")
covid_data_df.head()

         date     county       state     fips  cases  deaths
0  2020-01-21  Snohomish  Washington  53061.0      1     0.0
1  2020-01-22  Snohomish  Washington  53061.0      1     0.0
2  2020-01-23  Snohomish  Washington  53061.0      1     0.0
3  2020-01-24       Cook    Illinois  17031.0      1     0.0
4  2020-01-24  Snohomish  Washington  53061.0      1     0.0

In [48]:
covid_data_df.dtypes

date       object
county     object
state      object
fips      float64
cases       int64
deaths    float64
dtype: object

In [4]:
timestamp=pd.Timestamp("2019-12-22")

In [49]:
timestamp.dtypes

AttributeError: 'Timestamp' object has no attribute 'dtypes'

In [50]:
# Read in csv with Geolocation data of each county in US
geo_ca_df = pd.read_csv(r"us_cities_with_longitude,latitude_data/us-county-boundaries.csv")
geo_ca_df.head()

,Geo Point,Geo Shape,STATEFP,COUNTYFP,COUNTYNS,GEOID,NAME,NAMELSAD,STUSAB,LSAD,...,CSAFP,CBSAFP,METDIVFP,FUNCSTAT,ALAND,AWATER,INTPTLAT,INTPTLON,STATE_NAME,COUNTYFP NOZERO
0,"36.5111268089, -117.410789686","{""type"": ""Polygon"", ""coordinates"": [[[-118.337...",6,27,1804637,6027,Inyo,Inyo County,CA,6,...,NaN,NaN,NaN,A,26410680788,76915743,36.561977,-117.403927,California,27
1,"37.9233794475, -121.951073113","{""type"": ""Polygon"", ""coordinates"": [[[-122.267...",6,13,1675903,6013,Contra Costa,Contra Costa County,CA,6,...,488.0,41860.0,36084.0,A,1857229826,225285866,37.919479,-121.951543,California,13
2,"38.5972506332, -119.82065303","{""type"": ""Polygon"", ""coordinates"": [[[-120.073...",6,3,1675840,6003,Alpine,Alpine County,CA,6,...,NaN,NaN,NaN,A,1912292608,12557304,38.621783,-119.798352,California,3
3,"40.7050090829, -123.915819446","{""type"": ""Polygon"", ""coordinates"": [[[-124.281...",6,23,1681908,6023,Humboldt,Humboldt County,CA,6,...,NaN,21700.0,NaN,A,9241426488,1253864712,40.706655,-123.926176,California,23
4,"39.0345595213, -121.694849665","{""type"": ""Polygon"", ""coordinates"": [[[-121.928...",6,101,277315,6101,Sutter,Sutter County,CA,6,...,472.0,49700.0,NaN,A,1560546528,15240591,39.036190,-121.703940,California,101

## Check DataFrame values
- Total date values
- Earliest date
- Latest date

In [51]:
# Identify total date nunique() values
covid_data_df['date'].nunique()

369

In [52]:
# Identify min() date range
covid_data_df['date'].min()

'2020-01-21'

In [53]:
# Identify max() date range
covid_data_df['date'].max()

'2021-01-23'

## Clean and Transform Data
- Format date from string to_datetime
- Gather data for only California
- Gather data for only 2020

In [55]:
# convert date column from string to datetime
# covid_data_df['date'] = pd.to_datetime(covid_data_df['date'], format='%Y/%m/%d')
covid_data_df.head()

         date     county       state     fips  cases  deaths
0  2020-01-21  Snohomish  Washington  53061.0      1     0.0
1  2020-01-22  Snohomish  Washington  53061.0      1     0.0
2  2020-01-23  Snohomish  Washington  53061.0      1     0.0
3  2020-01-24       Cook    Illinois  17031.0      1     0.0
4  2020-01-24  Snohomish  Washington  53061.0      1     0.0

In [56]:
covid_data_df.dtypes

date       object
county     object
state      object
fips      float64
cases       int64
deaths    float64
dtype: object

In [24]:
from datetime import datetime

In [57]:
old_covid_set=covid_data_df

In [58]:
old_covid_set['date'] = pd.to_datetime(old_covid_set['date'], format='%Y/%m/%d')
old_covid_set.head()

        date     county       state     fips  cases  deaths
0 2020-01-21  Snohomish  Washington  53061.0      1     0.0
1 2020-01-22  Snohomish  Washington  53061.0      1     0.0
2 2020-01-23  Snohomish  Washington  53061.0      1     0.0
3 2020-01-24       Cook    Illinois  17031.0      1     0.0
4 2020-01-24  Snohomish  Washington  53061.0      1     0.0

In [61]:
old_covid_set.dtypes

date      datetime64[ns]
county            object
state             object
fips             float64
cases              int64
deaths           float64
dtype: object

In [26]:
# old_covid_date['date']=old_covid_set['date']
# old_covid_date.head()

0    2020-01-21
1    2020-01-22
2    2020-01-23
3    2020-01-24
4    2020-01-24
Name: date, dtype: object

In [35]:
# datetimeobject = datetime.strpfime(old_covid_date['date'],'%Y-%m-%d')
# import datetime
# datetime.strptime(old_covid_date['date']).timestamp

# int(old_covid_date['date'].strftime('%Y, %m, %d'))

AttributeError: 'Series' object has no attribute 'strftime'

In [67]:
oldformat='2020-01-24'
datetimeobject=datetime.strptime(oldformat,'%Y-%m-%d')

In [68]:
newformat=datetimeobject.strftime('%Y, %m, %d')
print(newformat)

2020, 01, 24

In [69]:
epoch_timestamp=time.mktime(newformat.timetuple())
epoch_timestamp

AttributeError: 'str' object has no attribute 'timetuple'

In [66]:
# import time
# import datetime

# date_time = covid_cali_2020_df['date']
date_time = old_covid_set['date']
date_time_format = "%Y-%m-%d"
# date_time

time_object = time.strptime(date_time, date_time_format)
epoch_timestamp = time.mktime(time_object)
epoch_timestamp

TypeError: strptime() argument 0 must be str, not <class 'pandas.core.series.Series'>

In [40]:
import datetime
import time
dt=datetime.datetime(oldformat)
print(time.mktime(dt.timetuple()))

TypeError: an integer is required (got type str)

In [ ]:
# Create dataFrame for only California 
covid_cali_df = covid_data_df.loc[covid_data_df["state"] == "California"] 
covid_cali_df.head()

In [ ]:
# Get county names 
covid_cali_df.county.unique()

In [ ]:
# Clean data -  remove 'unknown'
clean_covid_df = covid_cali_df[covid_cali_df.county != 'Unknown']
clean_covid_df.head()

In [ ]:
# # Confirm that only 58 counties in California
clean_covid_df.county.nunique()

In [ ]:
covid_cali_2020_df = clean_covid_df.loc[clean_covid_df["date"] < "2021-01-01"]
covid_cali_2020_df.head()

In [ ]:
# Identify date total nunique() total
covid_cali_2020_df['date'].nunique()

In [ ]:
covd_cali_2020_df.dtypes

In [ ]:
# Identify earliest date
covid_cali_2020_df['date'].min()

In [ ]:
# Identify max() date to confirm it reflects 12-31-2020
covid_cali_2020_df['date'].max()

## Time

In [ ]:
# import time
# import datetime

# date_time = covid_cali_2020_df['date']
# date_time_format = "%Y-%m-%d %H:%M:%S"
# date_time

# time_object = time.strptime(date_time, date_time_format)
# epoch_timestamp = time.mktime(time_object)
# epoch_timestamp

In [ ]:
# import time
# import datetime
# d = datetime.date(covid_cali_2020_df['date'])

# covid_cali_2020_df['date'] = time.mktime(d.timetuple())
# covid_cali_2020_df

## Create DataFrames for specific viualization needs
- cali only DataFrames grouped by date with cases total 
- socal only DataFrames grouped by county with cases total
- nocal only DataFrames grouped by county wth cases total

In [ ]:
# Get clean geo data
new_geo_ca_df=geo_ca_df[["GEOID", "NAME","INTPTLAT","INTPTLON"]]
new_geo_ca_df.head()

In [ ]:
clean_geo_ca_df=new_geo_ca_df.rename(columns={"GEOID": "fips",
                                           "NAME": "county",
                                          "INTPTLAT":"latitude",
                                          "INTPTLON":"longitude"
                                         })
clean_geo_ca_df.head()

In [ ]:
clean_geo_ca_df.nunique()

In [ ]:
covid_cali_2020_df.dtypes

In [ ]:
# group all of CA data by date
cali_groupby_date_cases_df = covid_cali_2020_df.groupby('date')

In [ ]:
# Get sum for cases by date
cali_date_total = cali_groupby_date_cases_df['cases'].sum()
# Confirm data is correct
cali_date_total.head()

In [ ]:
# Create series into DataFrame
cali_date_total_df = pd.DataFrame(cali_date_total)
cali_date_total_df.head()

In [ ]:
# Identify total day count
cali_date_total_df.count()

In [ ]:
# Create socalArray from dataFrame with socal counites only
socalArray = ["Inyo", "Kern", "San Luis Obispo", "Santa Barbara", "Ventura", "Los Angeles", "San Bernardino", "Orange", "Riverside", "San Diego", "Imperial"]

# Crating only socal_data_df by selecting cocal counties only
socal_data_df = covid_cali_2020_df[covid_cali_2020_df["county"].isin(socalArray)]
socal_data_df.head()

In [ ]:
# Confirm that only the 11 socal counites are in dataFrame
socal_data_df.nunique()

In [ ]:
# Grouped socal by county
grouped_socal_counties = socal_data_df.groupby('county')

In [ ]:
# Get sum for cases by county
grouped_socal_county_totals =  grouped_socal_counties['cases'].sum()
grouped_socal_county_totals.head()

In [ ]:
grouped_socal_county_totals_df = pd.DataFrame(grouped_socal_county_totals)
grouped_socal_county_totals_df

In [ ]:
merge_socal_geo_df = pd.merge(grouped_socal_county_totals_df,clean_geo_ca_df, on="county", how="inner")
merge_socal_geo_df

In [ ]:
merge_socal_geo_df.dtypes

In [ ]:
# Using socal_data_df, merge with clean_covid_cali_df and create duplicates for socal counties
duplicates = pd.merge(clean_covid_df, socal_data_df, how= 'inner', left_on=['date', 'county'], right_on=['date', 'county'], left_index=True)

# Use .drop duplicates on index to create nocal_data_df
norcal_data_df = clean_covid_df.drop(duplicates.index)
norcal_data_df.head()

In [ ]:
norcal_data_df.dtypes

In [ ]:
# Confirm that only 47 counties for nocal
norcal_data_df.nunique()

In [ ]:
# Grouped norcal data by county
grouped_norcal_county_df = norcal_data_df.groupby('county')

In [ ]:
# Get cases sum() by county 
grouped_norcal_county_total = grouped_norcal_county_df['cases'].sum()
grouped_norcal_county_total.head()

In [ ]:
# Create DataFrame from series
grouped_norcal_county_total_df = pd.DataFrame(grouped_norcal_county_total)
grouped_norcal_county_total_df.head()

In [ ]:
merge_norcal_geo_df = pd.merge(grouped_norcal_county_total_df,clean_geo_ca_df, on="county", how="inner")
merge_norcal_geo_df.head()

## Make connection to Postgres

In [ ]:
clean_covid_df.dtypes

In [ ]:
# Make connection to telecommunication_db in postgresql
connection_string = f"postgres:{pg_password}@localhost:5432/covid_mask_effect_db"
engine = create_engine(f'postgresql://{connection_string}')

In [ ]:
# Read in tables_names() from postgres
engine.table_names()

## Load DataFrames to Postgres

In [ ]:
#cali_date_total_df.to_sql(name='cali_2020', con=engine, if_exists='append', index=True)

In [ ]:
#merge_socal_geo_df.to_sql(name='socal_geo', con=engine, if_exists='append', index=False)

In [ ]:
#merge_norcal_geo_df.to_sql(name='norcal_geo', con=engine, if_exists='append', index=False)

## Read in tables from pgadmin to confirm data was received correclty

In [ ]:
pd.read_sql_query('SELECT * FROM cali_2020', con=engine).head()

In [ ]:
pd.read_sql_query('SELECT * FROM socal_geo', con=engine).head()

In [ ]:
pd.read_sql_query('SELECT * FROM norcal_geo', con=engine).head()

# Convert new tables into csv

In [ ]:
cali_date_total_df.to_csv('output/cali_date_total_df.csv')

In [ ]:
merge_socal_geo_df.to_csv('output/merge_socal_geo_df.csv')

In [ ]:
merge_norcal_geo_df.to_csv('output/merge_norcal_geo_df.csv')

In [ ]:
covid_cali_2020_df.to_csv('output/covid_cali_2020_df.csv')